.header-app {
  background-color: #282c34;
  color: #fff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-app h1{
  font-size: 2rem;
  margin: 0;
}

.header-app nav {
  display: flex;
  gap: 20px;
}

.header-app nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.header-app nav a:hover {
  color: orange;
  text-decoration: underline;
}