.container-feedback {
    margin:20px;
    display: flex;
    flex-direction: column;
}

.container-feedback ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #e6fffa;
    padding: 20px;
    width: 70%;
    align-self: center;
}